<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <script>
    function hi() {
      alert("Привет, GB!");
    }
  </script>

  <title>Index page</title>
</head>

<body>
  <h1>Привет ASP.NET Core</h1>
  <input class="gradient-button" type="button" value="Жми меня!" onclick="hi()">

  <div style="padding: 50px;">
    <ol class="rounded">
      @{
        int count = Random.Shared.Next(10, 20);
        for (int i = 0; i < count; i++)
        {
          <li><a href="#">Пункт @(i+1) </a></li>
        }
      }

    </ol>
  </div>
</body>

</html>
@* 400 *@